/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/
.smallScreen{
		display:none!important;
	}
	@media screen and (max-width: 768px) {
		.largeScreen{
			display:none!important;
		}
		.smallScreen{
			display:inherit!important;
		}	
		header.header.sticky {
			padding: 15px 15px 15px 15px;
		}
	}